.layout {
    min-height: 100dvh;
    width: 100dvw;
    padding: 0 spacing.$space-2xs;
    background: linear-gradient(
        90deg, 
        #0A0A0A, /* Deep charcoal */
        #1C1C1C   /* Slightly lighter charcoal */
      );
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    min-height: inherit;
    margin: auto;
}

.main {
    flex-grow: 1;
}