// Common Colors
$color-black: #000000;
$color-white: #FFFFFF;

// Error Colors
$error-100: #F4D2DB;
$error-200: #E48BA3;
$error-300: #CE3B62;
$error-main: #981B3C;
$error-500: #7A1F37;
$error-600: #57192A;

// Grey Colors
$grey-100: #F2F2F2;
$grey-150: #E6E6E6;
$grey-200: #CCCCCC;
$grey-250: #B3B3B3;
$grey-300: #999999;
$grey-400: #666666;
$grey-500: #333333;
$grey-600: #0F0F0F;
$grey-700: #0A0A0A;
$grey-800: #050505;

// Primary Colors
$primary-100: #E6E2FF;
$primary-200: #C0B5FF;
$primary-300: #9A88FF;
$primary-400: #745BFF;
$primary-main: #1D00FA;
$primary-500: #1600C7;
$primary-600: #100095;
$primary-700: #0A0063;
$primary-800: #050031;

// Secondary Colors
$secondary-100: #FFF2D9;
$secondary-200: #FFE0B3;
$secondary-300: #FFCE8C;
$secondary-400: #FFBC66;
$secondary-main: #FFA200;
$secondary-500: #CC8200;
$secondary-600: #996300;
$secondary-700: #664300;
$secondary-800: #332200;

// Tertiary Colors
$tertiary-100: #FDFCFC;
$tertiary-200: #FBFAF9;
$tertiary-300: #F9F7F6;
$tertiary-400: #F7F4F3;
$tertiary-main: #EFEAE9;
$tertiary-500: #BFBABA;
$tertiary-600: #8F8A8A;
$tertiary-700: #5F5A5A;
$tertiary-800: #2F2A2A;

$table-bg: #252524;